[package]
name = "{{project-name}}"
version = "0.1.0"
authors = ["{{authors}}"]
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
anyhow = "1.0"
serde_json = "1.0.145"
wit-bindgen = "0.48.1"
wstd = "0.6.3"

[profile.release]
opt-level = "s"
