name: check
permissions:
  contents: read
  issues: read
  checks: write
  pull-requests: write

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      ref:
        description: "The ref (branch or SHA) to process"
        required: false
        type: string

defaults:
  run:
    shell: bash -xe {0}

jobs:
  check-dev-deps:
    name: Check dev-deps.txt
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - uses: nixbuild/nix-quick-install-action@v30
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Populate the nix store without Obelisk # Workaround for slow garnix cache
        run: |
          nix develop .#noObelisk --command echo
      - name: Add garnix cache and populate the nix store with Obelisk
        run: |
          echo "extra-substituters = https://cache.garnix.io" >> ~/.config/nix/nix.conf
          echo "extra-trusted-public-keys = cache.garnix.io:CTFPyKSLcx5RMJKfLo5EEPUObbA78b0YQ2DTCJXqr9g" >> ~/.config/nix/nix.conf
          nix develop --command echo

      - run: nix develop --command ./scripts/dev-deps.sh

      - run: |
          if git diff --quiet; then
              echo "No changes"
          else
              echo "Changes detected:"
              git diff
              exit 1
          fi

  check-e2e:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        test:
          - test-activity-rs-graphql-sync.sh
          - test-activity-rs-http-simple-sync.sh
          - test-activity-rs-http-simple-async.sh
          - test-fibo-activity.sh
          - test-fibo-webhook.sh
          - test-fibo-workflow.sh

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.ref }}

      - uses: nixbuild/nix-quick-install-action@v29
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Populate nix store (no Obelisk)
        run: nix develop .#noObelisk --command echo

      - name: Add garnix cache and populate with Obelisk
        run: |
          echo "extra-substituters = https://cache.garnix.io" >> ~/.config/nix/nix.conf
          echo "extra-trusted-public-keys = cache.garnix.io:CTFPyKSLcx5RMJKfLo5EEPUObbA78b0YQ2DTCJXqr9g" >> ~/.config/nix/nix.conf
          nix develop --command echo

      - name: Run test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TEST_OWNER: "obeli-sk"
          TEST_REPO: "obelisk"
        run: nix develop --command ./scripts/${{ matrix.test }}
