[package]
name = "{{project-name}}"
version = "0.1.0"
authors = ["{{authors}}"]
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
waki = "0.5.1"
waki-macros = "0.5.1"
wit-bindgen = "0.48.0"

[profile.release]
opt-level = "s"
debug = "line-tables-only"

